header {
	background: white;
	border-bottom: teal solid 1px;
}

header h1 {
	color: white;
	text-align: center;
}

body {
	background: lightgrey;
	background: url(../images/concrete.png);
    background-repeat: repeat;
    background-size: 30%;
}

footer {
	background: grey;
}

footer p {
	color: lightgrey;
}

.box {
	max-height: 300px;
}

.boxLabel {
	background: teal;
}

#pageContent {
	margin-top: 90px;
}

#myName {
	background: teal;
}

@media (max-width: 768px) {

	.fixed-top{
		position: relative !important;
	}

	#pageContent {
		margin-top: -20px;
	}

}